
<div style="text-align:center">
    <h1>
      Library
    </h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <header class="navbar navbar-bright navbar-fixed-top" role="banner"></header>
      <ul class="navbar-nav navbar-right">
        <a class="nav-link" routerLink="login"*ngIf="!auth.loggedIn()">Login</a>
          <a class="nav-link"  routerLink="">Books</a>
          <a class="nav-link"  routerLink="authors">Authors</a>
          <a class="nav-link"  routerLink="newbook"*ngIf="auth.loggedIn()">AddBook</a>
          <a class="nav-link"  routerLink="newauthor"*ngIf="auth.loggedIn()">AddAuthor</a>
          <a class="nav-link" style="cursor:pointer" routerLink=""*ngIf="auth.loggedIn()"(click)="logoutUser()">Logout</a>
      </ul>
    </div>
  </nav>    
  
    
  

<!--<div class="card-header">
    <a routerLink="/">Products</a>
    <a routerLink='/add'>Add Product</a>
</div>-->