
<br>
<div class="card">

  

    <div class="card-body">
<div class="table-responsive">
    <table class="table">

        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>About</th>                
                <th></th>               
            </tr>
        </thead>

        <tbody>
<tr>
    <td>
        <img 
        [src]="authorItem.image"
        [style.width.px]='50'
        [style.margin.px]='2'>
    </td>
    <td>{{authorItem.name}}</td>
    <td>{{authorItem.about}}</td>
    
    
        
</tr>
        </tbody>
        
    </table>
</div>
    </div>

</div>
